<h1>Loop Partial</h1>

<% start_time = Time.now %>

<% @records.each do |r| %>
  <%= render partial: 'record', object: r %>
<% end %>

<h2>Elapsed Time: <%= ((Time.now - start_time) * 1000).to_i %>ms</h2>
